.App {
  min-height: 150vh;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  margin: 0;
}

.AppName {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5px;
  color: rgba(255, 255, 255, 0.616);
  text-decoration: underline;
  font-family: 'Chilanka', cursive;
  font-size: 70px;
  transition: 0.5s;
}

.AppName:hover {
  color: rgba(255, 255, 255, 0.801);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  color: palevioletred;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  outline: none;
  font-family: 'Chilanka', cursive;
}

.search-button {
  background-color: lavender;
  color: palevioletred;
  padding: 10px 20px;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.5s;
  outline: none;
  font-family: 'Chilanka', cursive;
}

.search-button:hover {
  background-color: rgba(255, 255, 255, 0.151);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}